@charset "UTF-8";

.header .header-1 {
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .header-1 .logo i {
  color: var(--coral);
}

.header .header-1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .search-form label:hover {
  color: var(--coral);
}

.header .header-1 .icons .fa-search,
.header .header-1 .icons .fa-heart,
.header .header-1 .icons .fa-shopping-cart,
.header .header-1 .icons .fa-user-edit,
.header .header-1 .icons .fa-envelope,
.header .header-1 .icons .fa-cog,
.header .header-1 .icons .fa-sign-out-alt,
.header .header-1 .icons .fa-user {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .icons .fa-search:hover,
.header .header-1 .icons .fa-heart:hover,
.header .header-1 .icons .fa-shopping-cart:hover,
.header .header-1 .icons .fa-user:hover {
  color: var(--coral);
}

.action {
	position: absolute;
	top: 20px;
	right: 150px;
}

.action .profile {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.action .profile img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.action .menu {
	position: absolute;
	top: 120px;
	right: -10px;
	padding: 10px 20px;
	background: #fff;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	z-index: 2;
	opacity: 0;
}

.action .menu.active {
	top: 80px;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.action .menu::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 28px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
}

.action .menu h3 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	font-size: 18px;
	color: #555;
	line-height: 1.2em;
}

.action .menu h3 span {
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}

.action .menu ul li {
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
}

.action .menu ul li i {
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
}

.action .menu ul li:hover i {
	opacity: 1;
}

.action .menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
	padding-left: 20px;
    font-size: 15px;
}

.action .menu ul li:hover a {
  color: #e9967a;
}

#search-btn {
  display: none;
}

.header .header-2 {
  background: var(--coral);
}

.header .header-2 .headerBar {
  text-align: center;
}

.header .header-2 .headerBar a {
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .headerBar a:hover {
  background: var(--black);
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
